/* ----- RESET CSS ----- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, a:active, a:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    box-shadow: none;
}

button, input, textarea, select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    appearance: none;
}

button, button:active, button:focus {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}

:focus {
    outline: none;
}

:focus:not(:focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

input, textarea, select, button {
    border-radius: 0;
}

/* ----- COLORS ----- */

:root {
    --background-light: #F5F5F5;
    --background-dark: #0A0A0A;
    --1-light: #FFFFFF;
    --1-dark: #1F1F1F;
    --2-light: #E0E0E0;
    --2-dark: #292929;
    --3-light: #D6D6D6;
    --3-dark: #333333;
    --text-light: #000000;
    --text-dark: #FFFFFF;
    --blue: rgba(10, 205, 255, 0.25);
    --green: rgba(109, 163, 77, 0.25);
    --red: rgba(191, 33, 30, 0.25);
    --pink: rgba(213, 86, 114, 0.25);
    --purple: rgba(102, 44, 145, 0.25);
}

/* ----- BODY ----- */

html, body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}

body {
    padding: 50px 20px;
    color: var(--text);
    background-color: var(--background);
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* ----- STUDENT PAGE ----- */

.main-view {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.main-view.hidden {
    display: none;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.title {
    font-weight: 600;
    font-size: 32px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: var(--1);
    cursor: pointer;
}

.delete-button.hidden {
    display: none;
}

.validate {
    background-color: var(--red);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 25px;
    padding-bottom: 45px;
    border-radius: 14px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 10px;
    border-radius: 14px;
    text-align: center;
    background-color: var(--1);
    cursor: pointer;
}

.card.ps-student {
    background-color: var(--pink);
}

.card.ms-student {
    background-color: var(--purple);
}

.card.add-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: 2px dashed var(--2);
    text-align: center;
    color: var(--text);
    background-color: transparent;
}

.card.delete-mode {
    border: 2px dashed var(--red);
    opacity: 0.5;
    color: var(--text);
    background-color: var(--1);
}

.card.selected {
    opacity: 1;
    background-color: var(--red);
}

.add-activity-button {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 14px;
    border-radius: 14px;
    background-color: var(--1);
    cursor: pointer;
}

/* ----- ACTIVITY PAGE ----- */

.student-view {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.student-view.active {
    display: flex;
}

.caption {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.caption div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.caption div:nth-child(1) div {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--blue);
}

.caption div:nth-child(2) div {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--green);
}

.caption div:nth-child(3) div {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--red);
}

#activitiesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
    padding-bottom: 45px;
    border-radius: 14px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.activity-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 10px 14px;
    border-radius: 14px;
    text-align: center;
    background-color: var(--1);
    cursor: pointer;
}

.activity-card.valide {
    background-color: var(--blue);
}

.activity-card.acquis {
    background-color: var(--green);
}

.activity-card.non-acquis {
    background-color: var(--red);
}

.activity-card.delete-mode {
    border: 2px dashed var(--red);
    opacity: 0.5;
    color: var(--text);
    background-color: var(--1);
}

.activity-card.selected {
    opacity: 1;
    background-color: var(--red);
}

.back-button {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 14px;
    border-radius: 14px;
    background-color: var(--1);
    cursor: pointer;
}

/* ----- MEDIA QUERY ----- */

@media (prefers-color-scheme: light) {

    :root {
        --background: var(--background-light);
        --text: var(--text-light);
        --1: var(--1-light);
        --2: var(--2-light);
        --3: var(--3-light);
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --background: var(--background-dark);
        --text: var(--text-dark);
        --1: var(--1-dark);
        --2: var(--2-dark);
        --3: var(--3-dark);
    }

}